.App-header {
  background-color: rgba(211, 211, 211, 0.5); /* 浅灰色，半透明 */
  text-align: center;
  padding: 20px 0;
  }
  
  section {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
  }